#main {
   width: 75%;
   max-width: 700px;
   min-width: 500px;
   background-color: white;
   margin: auto;
   box-shadow: 3px 3px 2px #888888, 5px 5px 3px 3px #AAA;
   padding: 25px 50px 75px;
   border-radius: 3px;
   position: relative;
}

body {
   background-color: #CCC;
   font-size: 13pt;
}

h1 {
   text-align: center;
   color: #111133;
}

input, select {
   padding: 7px;
}

input[type = "submit"],
input[type = "button"] {
   position: absolute;

   /* Same size as padding */
   right: 50px;
   bottom: 75px;
}

.price {
   color: #118811;
   font-weight: bolder;
}
