<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Postal Rate Calculator</title>
   </head>
   <body>
      <div>
         <h1>Postal Rate Calculation</h1>
         <hr/>
         <br/>
         <p>It would cost $<%= cost %> to send a <%= weight %> pound <%= type %>.</p>
      </div>
   </body>
</html>
