<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Postal Rate Calculator</title>
      <link rel="stylesheet" href="master.css"/>
   </head>
   <body>
      <div id = "main">
         <h1>Postal Rate Calculation</h1>
         <hr/>
         <br/>

         <p><% if (!isNaN(cost)) { %>
                  It would cost <span class = "price">
                  $<%= cost.toFixed(2) %></span> to send
                  a <%= weight %>oz <%= type %>.
            <% } else { %>
                  Unable to compute price. It is reccomended
                  that <%= weight %>oz items be shipped in a
                  larger package.
            <% }%></p>
         <br/>
         <br/>
         <input type="button" onclick="window.location.href='form.html'"
                value = "Return to Calculator"/>
      </div>
   </body>
</html>
